html,body
{
    background-color: rgba(20,20,20,1);
    color: white;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin: 2%;
    animation: rgb 10s infinite;
}

h1, h3
{
    padding: 0px;
    margin: 0px;
    animation: rgb 10s infinite;

}

@keyframes rgb
{
    0% {background-color: red;}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: red;}
    0% {color: blue;}
    50% {color: red;}
    75% {color: green;}
    100% {color: blue;}
}

.divider 
{
    border: solid white 1px;
}


input
{
    width: 250px;
    text-align: center;
    font-size: 1.5em;
    color:rgba(20,20,20,.4);
}

select
{
    text-align: center;
    font-size: 1.5em;
    color:rgba(20,20,20,.4);
}

button
{
    font-size: 1.5em;
}

footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 0.1;
}